<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.juntadeandalucia.msspa.authentication">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" tools:replace="required" />

    <application android:label="@string/app_name">
        <activity
            android:name=".presentation.login.activities.main.AuthActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".MsspaAuthenticationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="es.juntadeandalucia.msspa.authentication.totp" />
            </intent-filter>
        </receiver>

    </application>
</manifest>